<div class="pointer-events-none absolute inset-0 z-0 opacity-20 grayscale">
    <div
        class="h-full w-full bg-cover bg-fixed bg-center"
        style='background-image: url("https://lh3.googleusercontent.com/aida/AP1WRLuROX9mMOLuCAFa_bkB3G_r1uqnN7fslcFPzNPf030MVQuxcaTALTM-n8ICSsgMlNeu_gdLjhJBu-Uafw-GUTr-zKyf4C5t88ih4zzD5iJ1O3KGgYDzUiy6QHAuHELHYaAUV5uw5GFcR9yY5SdQAsSJjydAC_sbsNQ8EY-vWKYge3S0WEpW_FrBC36ahM57GSBqY388ezbFjS0k0FQYJ0ieqX6RYBN7Hpgi0IvZ8jTRVVCbHhZbW8XD5w");'
    ></div>
</div>

<div class="absolute inset-0 z-0 bg-gradient-to-b from-background via-transparent to-background"></div>

<div
    class="pixel-grid absolute inset-0 z-0 opacity-30"
    style="transform: translate(4.09375px, 9.08297px);"
></div>
