---
import MainSection from "@/components/blog/MainSection.astro";
import ReportCard from "@/components/common/ReportCard.astro";
---

<MainSection>
    <!-- CONTENT: REPORTS -->
    <div class="block w-full" id="content-reports">

        <div class="grid grid-cols-1 gap-8 w-full" id="reports-list">
            <ReportCard />
        </div>

    </div>

    <!-- Pagination -->
    <div class="mt-12 pt-8 border-t border-outline-variant flex flex-col md:flex-row justify-between items-center gap-6 w-full">
        <button class="cursor-pointer flex items-center gap-2 text-on-surface-variant hover:text-primary">
            <span class="material-symbols-outlined">chevron_left</span>
            PREV_PAGE
        </button>

        <div class="flex items-center gap-2">
            <button class="cursor-pointer w-10 h-10 border border-primary bg-primary/10 text-primary">01</button>
            <button class="cursor-pointer w-10 h-10 border border-outline-variant text-on-surface-variant">02</button>
            <button class="cursor-pointer w-10 h-10 border border-outline-variant text-on-surface-variant">03</button>
        </div>

        <button class="cursor-pointer flex items-center gap-2 text-on-surface-variant hover:text-primary">
            NEXT_PAGE
            <span class="material-symbols-outlined">chevron_right</span>
        </button>
    </div>
</MainSection>